<p>home works!</p>
<ul>
  <li *ngFor="let page of links$ | async">
    <app-blog-card [routerLink]="page.route" [page]="page"></app-blog-card>
    <!-- <a href="{{ page.route }}">{{ page.route }}</a>
    {{ page.arbitraryValue }}
    <span *ngFor="let arrayItem of page.arbitraryArray">
      {{ arrayItem }}
    </span> -->

    <section class="container-box" [routerLink]="page.route">
      {{ page.arbitraryValue }}
      <span *ngFor="let arrayItem of page.arbitraryArray">
        {{ arrayItem }}</span
      >
    </section>
  </li>
</ul>
