.container-box {
  background-color: rgb(240, 209, 209);
  box-shadow: 0 2px 4px rgb(181, 181, 181);
  z-index: 2;
  position: relative;
  flex: 0 1 32%;
  margin: 0.66%;
  padding: 1rem;
  max-width: 100%;
  word-break: break-word;
}
